// Fonts & Typography
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts";
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

//== Scaffolding
$body-bg: #000;
$text-color: #fff;
$link-color: #fff;
$link-hover-color: darken($link-color, 15%);
$nav-link-hover-bg: #000;

//== Typography
$font-family-sans-serif: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

//== Forms
$input-bg: rgba(255,255,255,0.1);
$input-border: rgba(255,255,255,.4);
$input-border-radius: 0;
$input-border-focus: rgba(255,255,255,0.4);
$input-color-placeholder: #ccc;
$input-color: #fff;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "icofonts.scss";
@import "home-slider.scss";
@import "about-slides.scss";

html, body, .container {
    height: 100%;
}

.lazyload {
    position: absolute;
    background-size: cover;
    width: 100%;
}

//== HEADER

#header {
    position: relative;
    z-index: 10;
    width: 100%;

    .language-selector {
        text-align: right;
        margin-right: 15px;
        color: #999;
        margin-top: 20px;
        margin-bottom: -10px;

        a {
            text-transform: uppercase;
            color: #999;
            &.active {
                color: #ccc;
            }

            &:hover {
                color: #ccc;
            }
        }
    }

    nav {
        padding-top: 10px;
    }

    nav.social-media {
        margin-top: 30px;
        margin-right: 10px;

        ul.nav {
            li {
                a {
                    padding: 2px 0;
                    margin-right: 5px;
                    color: rgba(0,0,0,0);
                    background-color: transparent;

                    &:hover {
                        &.facebook { color: rgba(59,89,152, 1); }
                        &.vimeo { color: rgba(26,183,234,1); }

                        -webkit-transition: color .4s linear;
                        transition: color .4s linear;
                    }

                    &.facebook span { color: rgba(59,89,152, 1); }
                    &.vimeo span { color: rgba(26,183,234,1); }
                }
            }
        }
    }

    .logo {
        display: block;
        @include text-hide();

        &.white {
            background: url('/images/logo-texto-white-small.png') no-repeat;
            width: 400px; // 800px original
            height: 127.5px; // 255px original
            background-size: 50%;
        }
    }
}

//== HOME STYLING
body.home {
    background: #000;
    color: #fff;
    font-weight: 200;
    font-size: 1em;

    //== CAPTION
    .home-header {
        z-index: 1001;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        max-width: 800px;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        padding: 1em;
        text-align: center;

        h1 {
            margin: 0;
            font-weight: 200;
            font-size: 4em;
            line-height: 1;
            text-transform: uppercase;

            animation-duration: 2s;
            animation-delay: .5s;
            // animation-iteration-count: infinite;

            span {
                display: block;
                padding: 0.5em 0 0.6em 0.1em;
                font-size: 40%;
                line-height: 1.2;
                opacity: 0.7;
            }

            .fa,.icomoon  {
                font-size: 110px;
                margin-top: -34px;
                color: rgba(255,255,255,.5);
            }

            a:hover {
                text-decoration: none;

                .fa,.icomoon  {
                    color: rgba(255,255,255,1);
                    -webkit-transition: color .4s linear;
                    transition: color .4s linear;
                }
            }
        }

    }

    //== FOOTER
    .home-footer {
        z-index: 1000;
        position: absolute;
        bottom: 0;
        left: 50%;
        text-align: center;
        max-width: 500px;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        margin-bottom: -10px;

        address {
            font-weight: 200;
        }
    }

    .bigplayer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }

    #closebtn {
        position: absolute;
        top: 60px;
        right: 60px;
        color: #fff;
        z-index: 1001;
    }
}

body.about {
    background: #000;
    background-image: url('../images/office-darken.jpg');
    background-size: cover;
    color: #fff;
    font-weight: 200;
    font-size: 1em;

    //== FOOTER
    .about-footer {
        // z-index: 1000;
        position: relative;
        // bottom: 0;
        left: 50%;
        text-align: center;
        max-width: 500px;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        margin-bottom: -10px;
        margin-top: 120px;

        address {
            font-weight: 200;
        }
    }

    #content {
        h1 {
            margin-top: -50px;
            margin-bottom: 60px;
            opacity: .0;
        }

        p {
            font-size: 24px;
            font-weight: 200;
            opacity: .0;
            color: #fff;
            margin-bottom: 50px;
            text-align: justify;
        }

        .reel {
            padding-top: 50px;

            > a {
                display: inline-block;
                text-align: center;
                border: 5px solid #fff;
                border-radius: 25px;
                padding: 25px 30px;
                @media (min-width: $screen-sm-min) {
                    font-size: 24px;
                    width: 380px;
                    .fa {
                        font-size: 64px;
                    }
                }

                font-size: 24px;
                width: 180px;
                .fa {
                    font-size: 32px;
                }



                &:hover {
                    text-decoration: none;
                    background-color: #fff;

                    color: #000;
                    -webkit-transition: color .4s linear;
                    transition: color .4s linear;
                    -webkit-transition: background-color .4s linear;
                    transition: background-color .4s linear;
                }
            }
        }
    }

}

.work {
    #content {
        opacity: 0
    }

    padding-bottom: 80px;

    .work-post {
        margin-bottom: 40px;
        position: relative;

        a {
            img {
                width: 100%;
            }

            .caption {
                text-transform: uppercase;
                text-align: center;

                position: absolute;
                top: 0;
                left: 15px;

                opacity: 0;

                background: rgba(0,0,0,0.3);

                h3 {
                    position: absolute;
                    width: 100%;
                    font-size: 32px;
                    color: #fff;

                    small {
                        display: block;
                        color: rgba(255,255,255,.8);
                    }
                }
            }

        }
    }
}
